:root{
  --black:#000;
  --white:#fff;
  --couleur_principale:#a7829a;
  --couleur_secondaire:darkgray;
  --couleur_hero: linear-gradient(36deg,rgba(167,2,154,0.7)8%, rgba(167,2,154,0)100%);

  --font_principal:'Cardo', serif;
  --font-secondaire:'Bungee Shade', cursive;


}